:root {
    --colNum: 5;
    --squareSize: 50px;
}

body {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    font-family: 'Helvetica';
}
h1{
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
}


form {
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    max-width: 800px;
}

form > * {
    padding: 10px;
    margin: 10px;
}

#number-input {
    width: 90px;
    font-size: 1em;
    padding-left: 0.75em;
}


button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

#grid-container {
    grid-row-start: 2;
    display: grid;
    grid-template-columns: repeat(var(--colNum), var(--squareSize));
}

.square {
    border: 1px solid black;
    width: var(--squareSize);
    height: var(--squareSize);
}